*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f6f6;
    transition: 0.8s ease-in-out;
}

header #navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    height: 10vh;
    margin: 0 3rem;
    padding: 0 3rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Logo  */
header #navbar #logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 6vw;
}

header #navbar #logo h1{
    font-weight: 500;
    margin-left: 0.2rem;
    transition: 0.8s ease-in-out;
}

/* dark mode button  */
header #sign-up{
    display: flex;
    align-items: center;
    gap: 1rem;
}

header #sign-up #mode{
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(#4f2ee8 0%, #dcdcdc 100%);
    width: 40px;
    height: 21px;
    border-radius: 50px;
    cursor: pointer;
}

header #sign-up #mode #round-button{
    position: absolute;
    background-color: white;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    top: 1px;
    left: 3px;
    transition: transform 300ms ease-in;
}

.circle-move{
    transform: translateX(90%);
}

/* Sign-up button  */
header #sign-up button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 190px;
    padding: 1rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    background-color: #4f2ee8;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

header #sign-up button:hover{
    background-color: #eac645;
    color: black;
}

header #sign-up button i{
    font-size: 1rem;
    color: #eac645;
}

header #sign-up button:hover i{
    color: black;
    transition: background-color 0.3s ease-in-out;
}

/* utility classes */
.bg-black{
    background-color: black;
    transition: 0.8s ease-in-out;
}

.bg-white{
    background-color: white;
    transition: 0.8s ease-in-out;
}

.black{
    color: black;
}

.white{
    color: white;
}

/* main section  */
#aside{
    display: flex;
    margin: 0 3rem;
    padding: 3rem 0rem;
}
#left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}
#right{
    width: 70%;
    padding-left: 2rem;
}

#categories{
    height: 50vh;
    overflow: auto;
    overflow-x: hidden;
    padding: 0 2rem;
}

/* ::-webkit-scrollbar-button {
    display: none;
} */
::-webkit-scrollbar {
    width: 8px;  /* Adjust as needed */
}

::-webkit-scrollbar-button {
    display: none;  /*May not work in some browsers*/
}

::-webkit-scrollbar-thumb {
    background: #e0e0e0; /* Style the scrollbar */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(161, 161, 161); /* Style the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
}

.category-item{
    font-size: 1.2rem;
    list-style: none;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transform-origin: 0;
    transition: transform 0.3s ease-in-out;
}

.category-item:hover{
    transform: scale(1.1);
    font-weight: 700;
    text-transform: uppercase;
    color: #4f2ee8;
}

.active{
    transform: scale(1.1);
    font-weight: 700;
    text-transform: uppercase;
    color: #4f2ee8;
}

/* Right Part Design  */
.heading{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.parent{
    width: 100%;
    padding: 1rem;
    margin: 2rem 0;
}

.card-Container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18%;
    padding: 0 1rem;
    cursor: pointer;
}

.category{
    margin-bottom: 1rem;
    color: #b4afaf;
}

.image{
    width: 100%;
    height: 70%;
    display: block;
    border-radius: 5px;
}

.title{
    font-size: 14px;
    font-weight: bold;
    color: #222;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
    margin: 0.5rem 0;
}

.author{
    font-size: 12px;
    color: #222;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
}

/* Support container  */
#support-container{
    color: white;
    margin-top: 5rem;
    height: 60vh;
    width: 22vw;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4f2ee8 18.03%, #fff 100%);
    border-radius: 30px;
}